.filters-form {
    padding: 0 4px;
    box-sizing: border-box;
}

.filters-form .ant-row {
    margin: 0 !important;
}

.filters-form>.ant-row>.ant-col {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 2px;
    margin-right: 2px;
    flex: 0 0 auto;
    max-width: none !important;
    min-width: 150px;

    .ant-select-selector {
        min-width: 160px;
    }
}

.filters-form .ant-form-item-label {
    flex: 0 0 auto !important;
    /* flex-wrap: nowrap; */
}