@tailwind base;
@tailwind components;
@tailwind utilities;

.column-lines .column-line {
    @apply flex flex-row relative pl-2 pr-2 py-1.5 shadow-md !bg-primaryColor/80 dark:!bg-primaryColor/50 text-white rounded-sm cursor-pointer !text-sm flex-shrink-0;
}
/* th {
    outline-color: red;
    outline-width: 1px;
    outline-style: solid;
} */